<%= form_for @user, :validate => true, :html => {:class => "form-input"} do |f| %>
  <ul>
    <% @user.errors.full_messages.each do |error| %>
      <li class="errors"><%= error %></li>
    <% end %>
  </ul>
  <div class="input-field">
    <div class="labels">
      <label class="form-label">Name :</label>
    </div>
    <div><%= f.text_field :name, :placeholder =>  'Your name here', :class => "inputbox" %></div>
  </div>
  <div class="input-field">
    <div class="labels">
      <label class="form-label">Email :</label>
    </div>
    <div><%= f.email_field :email, :placeholder =>  'user@domain.com',:class => "inputbox" %></div>
  </div>
  <div>
    <%= f.submit("Submit", :class => "create-button") %>
  </div>
<% end %>
