<h3>Create a new event</h3>
<%= simple_form_for @event, :html => {:class => "mb-5 bg-light p-4"} do |f| %>
  <%= f.error_notification %>
  <%= f.input :title, label: "Event title", placeholder: "Add title here..." %>
  <%= f.input :date, label: "Event date" %>
  <%= f.input :description, label: "Event title", placeholder: "Add description here..." %>
  <%= f.button :submit, class: "btn-success" %>
<% end %>
