<p id='notice'><%= notice %></p>
<div class="container mt-5">
  <%= event_form %>
  <h1 class="text-success">Upcoming events</h1>
  <div class="results-column d-flex flex-column p-3">
    <% @upcoming_events.each do |event| %>
      <div class="bg-light p-2 mb-2" >
        <div class="d-flex justify-content-between">
          <h4><%= link_to "#{event.title}", event, class: "text-secondary" %></h4>
          <div class="text-success"><%= event.date %></div>
        </div>
        <div><%= event.description %></div>
        <%= button(event) %>
      </div>
    <% end %>
  </div>
  <h1 class="text-danger">Previous of events</h1>
  <div class="results-column d-flex flex-column p-3">
    <% @previous_events.each do |event| %>
      <div class="bg-light p-2 mb-2" >
        <div class="d-flex justify-content-between">
          <h4><%= link_to "#{event.title}", event, class: "text-secondary" %></h4>
          <div class="text-success"><%= event.date %></div>
        </div>
        <div><%= event.description %></div>
        <%= button(event) %>
      </div>
    <% end %>
  </div>
</div>
